
.button,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    margin: 0.5em;
    border-radius: 5px;
    background: linear-gradient(to right, #16c0b0, #84cf6a);
    font-size: 1em;
    color: white;
    border: none;
    outline: none;
    @apply m-2 p-2 block ml-auto mr-auto;
    
}




form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  @apply w-1/2;

  p {
    color: tomato;
  }
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.6em;
  padding: 0.5em;
  margin-bottom: 1em;
  font: 1em 'Avenir', Helvetica, sans-serif;
}

.input {
  @apply rounded-full;
}

h1 {
  margin-top: 0;
}

.form {
  @apply bg-gray-700 text-gray-400 block ml-auto mr-auto rounded-xl;
}
